.mr-20{
    margin-right: 20px;
   }

.page-title{
    display: flex;
    justify-content: space-between;
   align-items: center;
   
}

.filters-container{

    form{
        width: 100%;
        .filters{
            display:flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            .left{
                display: flex;
                align-items: center;
                .form-group{
                    margin-right: 20px;
                }
            }
            
        }
    }
}